body{
    margin: 0;
}
header{
    
}
.danh-muc{
    background-color: brown;
    display: flex;
}
.muc{
    list-style: none;
}
.banner{
    background-color: blue;
}
.avata{
    background-color: blueviolet;
}
main{
    
}